* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    overflow-x: hidden;
}

body.dark {
    background-color: #000;
    color: #fff;
}

/* header */
nav.navbar {
    display: flex;
    justify-content: space-between;
    padding: 2em 0;

    background: linear-gradient(
        135deg, 
        rgba(80,131,171,1) 0%, 
        rgba(54,128,126,1) 65%, 
        rgba(255,255,255,1) 100%);

}

nav.navbar a {
    text-decoration: none;
    color: #fff;
}

div.nav-links {
    margin-right: 4em;
 
}

div.logo {
    font-size: 4em;

    margin-left: 2em;

    color: #fff;
}

ul.main-menu {
    display: flex;
    list-style-type: none;
    padding: 2em 0;
}

ul.main-menu li {
    margin-right: 0.8em;
    
}

i.fas.fa-angle-down {
    color: #fff;
    cursor: pointer;

    position: absolute;
}

i.fas.fa-angle-up {
    color: #fff;
    cursor: pointer;
    position: absolute;
    display: none;
}

i.fas.fa-angle-right {
    color: #fff;
    display: none;
}

li.sub-menu-parent {
    position: relative;
}

li.sub-menu-parent:hover ul.sub-menu {
    display: block;
}

ul.sub-menu {
    display: none;
    
    list-style-type: none;
    background: #4b82a3;
    border-top: 1px solid #fff;

    width: 15em;

    position: absolute;
    top: 2em;
    left: -2em;

    z-index: 1;
    
}

ul.sub-menu li {
    padding: 1em 0;
    margin-left: 1em;
}

ul.sub-menu a {
    color: #fff;
}

button.dark-light {
    background: orangered;
    border: 0;
    
    cursor: pointer;
    padding: 0 1.3em;
    
}

div.mobile-menu-icon {
    display: none;
}



/* main */
/* section hero */
section.hero {
    display: grid;
    grid-template-columns: 1fr 1fr;
    
}

div.info {
    margin-left: 15em;
    margin-top: 15em;
}

div.info h3 {
    font-size: 2em;
}

div.info p {
    margin: 1em 0;
    line-height: 1.5;
    font-size: 1.5em;
}

button.hero-btn {
    margin: 1em 0;
    background-color: #000;
    color: #fff;
    font-size: 1.5em;
    padding: 0.7em 0.4em;
    text-transform: capitalize;
    cursor: pointer;
}

div.info h5 {
    text-transform: capitalize;
}

div.visual img {
    width: 70em;
    height: 46em;
    transform: translateX(13em);
    z-index: -9;
}

/* section #2 */
div.s2-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr );

    width: 80vw;
    margin: 8em auto;
    
    padding-left: 7em;
}

div.s2-container img {
    width: 10em;
    height: 7em;
}

div.stripe {
    color: gray;
    font-size: 5em;
    font-weight: bold;
}

/* section #3 */
div.s3-container {
    width: 55em;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 1em;

}

img.landscape {
    margin-top: 8em;
    width: 270px;
    height: 162px;
}

img.portrait {
    width: 270px;
    height: 406px;
}

/* section #4 */
div.s4-container {
    width: 60em;
    margin: 6em auto;

    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 2em;

}

svg.desktop {
    border-radius: 50%;
    box-shadow: 0 2px 24px rgba(0, 0, 0, 0.8);
    
}

div.s4-info {
    margin: auto 0;
}

div.s4-info h3 {
    font-size: 2em;
    margin-bottom: 1em;
}

div.s4-info p {
    font-size: 1.5em;
    color: gray;
}

/* section #5 */
div.s5-container {
    width: 60em;
    margin: 10em auto;

    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 2em;
}

div.s5-info {
    margin: auto 0;
}

div.s5-info h3 {
    font-size: 2em;
    margin-bottom: 1em;
}

div.s5-info p {
    font-size: 1.5em;
    color: gray;
}

/* section #6 */
div.s6-container {
    width: 60em;
    margin: 10em auto;

    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 2em;
}


div.s6-info {
    margin: auto 0;
}

div.s6-info h3 {
    font-size: 2em;
    margin-bottom: 1em;
}

div.s6-info p {
    font-size: 1.5em;
    color: gray;

}

div.s6-info p.small {
    margin-top: 6em ;
    font-size: 0.6em;
}

/* section #7 */
.section-seven img {
    height: 515px;
    width: 1920px;
}

/* section #8 */
section.section-eight h2 {
    text-align: center;
    margin: 1.5em 0;
    font-size: 1.8em;
    font-weight: 500;
}

p.lead {
    text-align: center;
    margin: 2.5em 0;
    color: gray;
    font-size: 1.3em;
}

div.solution-container {
    width: 65vw;
    margin: 1em auto;

    display: flex;
    justify-content: space-evenly;
    
}

div.card-1,
div.card-2,
div.card-3  {
    width: 366px;
    height: 511px;

    box-shadow: 0 2px 34px rgba(0, 0, 0, 0.8);
    margin: 0 auto;
}

div.solution-container img {
    display: block;
    margin: 2em auto;
    text-align: center;
}

div.card-1 h3,
div.card-2 h3,
div.card-3 h3 {
    font-weight: 500;
    font-size: 1.5em;
    
    margin: 1em 0;
    text-align: center;
}

div.card-1 p,
div.card-2 p,
div.card-3 p {
    margin: 1em 0;
    font-size: 1.5em;
    text-align: center;
    color: gray;
}

/* section #9 */
div.s9-container {
    width: 50vw;
    margin: 10em auto;
    box-shadow: 0 2px 14px rgba(0, 0, 0, 0.3);

    padding: 1.5em 0;
}

div.s9-container h3 {
    text-align: center;
    font-size: 2em;
    font-weight: 500;
    
}

div.s9-container p {
    margin: 1.5em 0;
    color: gray;
    font-size: 1.4em;
    text-align: center;
}

button.s9-btn {
    display: block;
    margin: 1.5em auto;
    background-color: #00aa8b;
    border: 0;
    text-transform: uppercase;
    color: #fff;
    font-size: 1.5em;

    padding: 0.5em 1.5em;
    cursor: pointer;

}

/* footer */
footer {
    background-color: #000;
}

div.footer-container {
    margin: 3em auto;
    width: 53vw;

}

div.footer-container ul {
    list-style: none;
}

div.footer-container a {
    text-decoration: none;
    color: #fff;
    font-size: 0.9em;
}

li.head {
    color: gray;
    margin-bottom: 1em;
    font-size: 1.2em;
}

div.row-1 {
    display: grid;
    grid-template-columns: repeat(4, 1fr );
    margin: 3em 0;
}

div.row-1 li {
    margin: 0.5em 0;
}

div.row-2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

div.row-2 li {
    margin: 0.5em 0;
}

ul.footer-submenu li {
    list-style: inside;
    
}

div.underline {
    background: gray;
    height: 0.02em;
}

div.legal-container {
    margin: 0em auto;
    width: 53vw;
    display: flex;
    justify-content: space-between;
}

div.legal {
    margin: 1em 0;
    color: gray;
}

div.social {
    margin: 1em 0;
    color: #fff;
}

span.brand-name {
    color: #fff;
}

/* media queries */
@media screen and (max-width: 980px) {
    div.nav-links {
        display: none;
    }

    div.nav-links.show {
        display: block;
    }

    ul.main-menu {
        flex-direction: column;
        position: absolute;

        top: 8em;
        left: 5em;
        width: 50em;
    }

    div.nav-links li {
        background: #4b82a3;
        border: 1px solid #fff;

        padding: 1em 0;
    }

    div.nav-links a {
        padding-left: 0.8em;
    }

    button.dark-light {
        padding: 0 1.5em;
        margin-left: 1em;
    }

    div.mobile-menu-icon {
        display: block;
        cursor: pointer;
        
        margin-top: 1em;
        margin-right: 0.5em;
    }

    i.fas.fa-angle-down {
        right: 2em;
        margin-right: 0.5em;
    }

    i.fas.fa-angle-up {
        right: 2em;
        margin-right: 0.5em;
    }

    li.sub-menu-parent:hover ul.sub-menu {
        display: none;
    }

    ul.sub-menu {
        left: 6em;
        width: 17em;
    }

    ul.sub-menu li {
        border: none;
        width: 15em;
    }

    i.fas.fa-angle-right {
    
        display: inline;
    }
}